target
target/
*.idea
*.settings
*.iml
*.classpath
*.project
*.mymetadata
*.zip
*.7z
bin/
src/main/resources/application.properties
src/main/resources/application-local.properties

#Intelij IDEA
*.MF
*.class

bin

/my-distribute

/config
/logs

/.idea
/deploy/logs
/web/logs/*.log
